
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Doktor Kapısı</title>

    <meta name="keywords" content="WebSite Template" />
    <meta name="description" content="Doktor Kapısı">
    <meta name="author" content="okler.net">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/DoktorKapısı/img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/DoktorKapısı/img/apple-touch-icon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link id="googleFonts"
          href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap"
          rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/DoktorKapısı/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/DoktorKapısı/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/DoktorKapısı/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="~/DoktorKapısı/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="~/DoktorKapısı/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/DoktorKapısı/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/DoktorKapısı/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/DoktorKapısı/css/theme.css">
    <link rel="stylesheet" href="~/DoktorKapısı/css/theme-elements.css">
    <link rel="stylesheet" href="~/DoktorKapısı/css/theme-blog.css">
    <link rel="stylesheet" href="~/DoktorKapısı/css/theme-shop.css">

    <!-- Revolution Slider CSS -->
    <link rel="stylesheet" href="~/DoktorKapısı/vendor/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="~/DoktorKapısı/vendor/rs-plugin/css/layers.css">
    <link rel="stylesheet" href="~/DoktorKapısı/vendor/rs-plugin/css/navigation.css">

    <!-- Demo CSS -->
    <link rel="stylesheet" href="~/DoktorKapısı/css/demos/demo-app-landing.css">

    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="~/DoktorKapısı/css/skins/skin-app-landing.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/DoktorKapısı/css/custom.css">

    <!-- Head Libs -->
    <script src="~/DoktorKapısı/vendor/modernizr/modernizr.min.js"></script>
    <style>
        .equal-height-card {
            height: 80%;
        }
    </style>
</head>
<body data-plugin-scroll-spy data-plugin-options="{'target': '#header'}">

    <div class="body">


        <header id="header"
                class="header-transparent header-transparent-light-bottom-border header-transparent-light-bottom-border-1 header-effect-shrink"
                data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}">
            <div class="header-body border-top-0 header-body-bottom-border">
                <div class="header-container container">
                    <div class="header-row">
                        <div class="header-column">
                            <div class="header-row">
                                <div class="header-logo">
                                    <a href="/Default/Index/">
                                        <img alt="DoktorKapisi" width="70" height="70"
                                             src="~/DoktorKapısı/img/demos/DoktorKapisi/DoktorKapısıLOGO.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="header-column justify-content-end">
                            <div class="header-row">
                                <div class="header-nav header-nav-links">
                                    <div class="header-nav-main header-nav-main-text-capitalize header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                        <nav class="collapse">
                                            <ul class="nav nav-pills" id="mainNav">
                                                <li>
                                                    <a href="/Default/Index/" class="nav-link active" data-hash
                                                       data-hash-offset="0" data-hash-offset-lg="70">Anasayfa</a>
                                                </li>
                                                <li>
                                                    <a href="/Default/Hakkimizda/" class="nav-link active" data-hash
                                                       data-hash-offset="0" data-hash-offset-lg="70">Hakkımızda</a>
                                                </li>
                                                <li>
                                                    <a href="/DoktorGiris/Index/" class="nav-link active" data-hash
                                                       data-hash-offset="0" data-hash-offset-lg="70">Doktor Girişi</a>
                                                </li>
                                                <li>
                                                    <a href="/DoktorKayit/Kayit/" class="nav-link active" data-hash
                                                       data-hash-offset="0" data-hash-offset-lg="70">
                                                        Doktor Musunuz?
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <br /> <br />  <br /> <br />  <br /> <br />
        <div role="main" class="main">
            <div class="container">
                <div class="row pb-lg-3 counters">
                    <div class="col-lg-10 text-center offset-lg-1">
                        <h2 class="font-weight-bold text-9 mb-0">
                            Verileriniz bizimle güvende
                        </h2>
                        <br />
                        <p class="text-1rem text-color-default negative-ls-05 pt-3 pb-4 mb-5">DoktorKapısı, sağlık hizmetlerini sadece bir doktor ziyareti kadar yakınınıza getiren bir sağlık platformudur. Amacımız, hastaları ve sağlık profesyonellerini bir araya getirerek sağlık hizmetlerini daha erişilebilir, hızlı ve etkili bir şekilde sunmaktır.</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 offset-lg-2 counter mb-5 mb-md-0">
                        <div class="appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="750" data-appear-animation-duration="750" style="animation-delay: 750ms;">
                            <h3 class="font-weight-extra-bold text-14 line-height-1 mb-2" data-to="35" data-append="+" data-plugin-options="{'accY': 50}">35+</h3>
                            <label class="font-weight-semibold negative-ls-1 text-color-dark mb-0">Hekim ve Uzman</label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 counter divider-left-border">
                        <div class="appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="750" data-appear-animation-duration="750" style="animation-delay: 750ms;">
                            <h3 class="font-weight-extra-bold text-14 line-height-1 mb-2" data-to="45" data-append="+" data-plugin-options="{'accY': 50}">45+</h3>
                            <label class="font-weight-semibold negative-ls-1 text-color-dark mb-0">Hasta</label>
                        </div>
                    </div>
                    <div class="col-lg-10 text-center offset-lg-1">
                        <br /> <br />
                        <p class="text-1rem text-color-default negative-ls-05 pt-3 pb-4 mb-5">Sağlık, herkesin en değerli varlığıdır, ve DoktorKapısı olarak, daha sağlıklı bir toplum oluşturmak için çaba gösteriyoruz. Hasta odaklı yaklaşımımız ve teknolojiye dayalı çözümlerimizle, sağlık hizmetlerini dönüştürmeyi amaçlıyoruz.</p>
                    </div>
                </div>
            </div>
            <section class="section section-default border-0">
                <div class="container">
                    <div class="row">
                        <div class="col mt- mb-2">
                            <div class="row process my-3">
                                <div class="process-step col-lg-3 mb-3 mb-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                                    <div class="process-step-circle">
                                        <strong class="process-step-circle-content"><i class="icons icon-user text-5 text-primary"></i></strong>
                                    </div>
                                    <div class="process-step-content">
                                        <h4 class="mb-1 text-5 font-weight-bold">Kapsamlı uzmanlar</h4>
                                        <p class="mb-0">
                                            Yüzlerce sağlık profesyoneli arasından tercih yapın ve diğer
                                            hastaların değerlendirmelerini inceleyerek doğru uzman seçimini yapın.
                                        </p>
                                    </div>
                                </div>
                                <div class="process-step col-lg-3 mb-3 mb-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                                    <div class="process-step-circle">
                                        <strong class="process-step-circle-content"><i class="icons icon-chart text-5 text-primary"></i></strong>
                                    </div>
                                    <div class="process-step-content">
                                        <h4 class="mb-1 text-5 font-weight-bold">Hızlı ve kolay randevular</h4>
                                        <p class="mb-0">
                                            İhtiyacınıza uygun tarihi seçin, gerekli bilgilerinizi girin
                                            ve online görüşme yapmak için onaylayın. Psikolog veya diyetisyenlerle hemen
                                            iletişime geçin.
                                        </p>
                                    </div>
                                </div>
                                <div class="process-step col-lg-3 mb-3 mb-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
                                    <div class="process-step-circle">
                                        <strong class="process-step-circle-content"><i class="icons icon-clock text-5 text-primary"></i></strong>
                                    </div>
                                    <div class="process-step-content">
                                        <h4 class="mb-1 text-5 font-weight-bold">Randevuları unutmayın</h4>
                                        <p class="mb-0">
                                            Randevularınızı unutmamanız için size otomatik SMS ve
                                            e-posta hatırlatmaları sunuyoruz. Böylece hiçbir randevunuzu kaçırmayacaksınız.
                                        </p>
                                    </div>
                                </div>
                                <div class="process-step col-lg-3 mb-3 mb-lg-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
                                    <div class="process-step-circle">
                                        <strong class="process-step-circle-content"><i class="icons icon-check text-5 text-primary"></i></strong>
                                    </div>
                                    <div class="process-step-content">
                                        <h4 class="mb-1 text-5 font-weight-bold">Ücretsiz randevular</h4>
                                        <p class="mb-0">
                                            Randevu almak tamamen ücretsizdir. Size uygun bir randevu saati seçebilirsiniz. (Muayene ücretlerini
                                            öğrenebilmek için doktorunuza başvurun)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

    </div>
    <footer id="footer" class="bg-transparent border-0">
        <div class="footer-copyright bg-transparent">
            <div class="container">
                <hr class="bg-dark opacity-1 m-0">
                <div class="row py-4">
                    <div class="col-md-6 py-4 text-center text-md-start">
                        <p class="mb-0 text-3 opacity-8 font-weight-medium">
                            Mevsim © Copyright 2024. Tüm haklar
                            gizlidir.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Vendor -->
    <script src="~/DoktorKapısı/vendor/jquery/jquery.min.js"></script>
    <script src="~/DoktorKapısı/vendor/jquery.appear/jquery.appear.min.js"></script>
    <script src="~/DoktorKapısı/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/DoktorKapısı/vendor/jquery.cookie/jquery.cookie.min.js"></script>
    <script src="~/DoktorKapısı/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/DoktorKapısı/vendor/jquery.validation/jquery.validate.min.js"></script>
    <script src="~/DoktorKapısı/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="~/DoktorKapısı/vendor/jquery.gmap/jquery.gmap.min.js"></script>
    <script src="~/DoktorKapısı/vendor/lazysizes/lazysizes.min.js"></script>
    <script src="~/DoktorKapısı/vendor/isotope/jquery.isotope.min.js"></script>
    <script src="~/DoktorKapısı/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/DoktorKapısı/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/DoktorKapısı/vendor/vide/jquery.vide.min.js"></script>
    <script src="~/DoktorKapısı/vendor/vivus/vivus.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/DoktorKapısı/js/theme.js"></script>

    <!-- Current Page Vendor and Views -->
    <script src="~/DoktorKapısı/js/views/view.contact.js"></script>

    <!-- Demo -->
    <script src="~/DoktorKapısı/js/demos/demo-app-landing.js"></script>

    <!-- Theme Custom -->
    <script src="~/DoktorKapısı/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/DoktorKapısı/js/theme.init.js"></script>

</body>

</html>
